<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width initial-scale=1.0 user-scalable=no">
	<title>{% block title %} jasonbergland.com{% endblock %}</title>
	<link rel="stylesheet" href="/static/cache_styles.css">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='cache_styles.css')}}"> -->
</head>
<body class="body">
	<nav class="nav">
		<h3 class="logo">LRU Cache </br> Visualizer</h3>
			<!-- <div class="info"></div> -->
	      <a href="https://www.jasonbergland.com/projects" class="nav__homelink--wrapper">
		     <div class="nav__homelink--container">
		            <div>
		                <hr class="nav__homelink--rule">
		                <h6 class="nav__homelink--text"> Return to <br> my portfolio</h6>
		            </div>
		    </div>
	       </a>
	</nav>
	<main class="main">
		<h4>Cache Memory</h4>
		<div class="table__wrapper">
			<section class="table__index">
				<div class="index__container">
					<h4 class="index__position">User<br> entry</h4>
					<h4 class="index__number">Returned <br> value</h4>
				</div>
			</section>
			<!-- Table border -->
			<table class="table1">
				<tr class="table__h-row">
					<td class="table__h-cell">Most recent</td>
					<td class="table__h-cell"></td>
					<td class="table__h-cell"></td>
					<td class="table__h-cell">LRU</td>
				</tr>
				<tr class="table__row">
					<td class="table__cell1"></td>
					<td class="table__cell1"></td>
					<td class="table__cell1"></td>
					<td class="table__cell1"></td>
				</tr>
				<tr class="table__row">
					<td class="table__cell1"></td>
					<td class="table__cell1"></td>
					<td class="table__cell1"></td>
					<td class="table__cell1"></td>
				</tr>
			</table>
			<!-- Table values -->
			<table class="table">
				<tr class="table__valrow">
					<td class="table__cell">{% if cache %} {{ cache[0]['key'] }} {% endif %} </td>
					<td class="table__cell">{% if cache|length > 1 %} {{ cache[1]['key'] }} {% endif %}</td>
					<td class="table__cell">{% if cache|length > 2 %} {{ cache[2]['key'] }} {% endif %}</td>
					<td class="table__cell">{% if cache|length > 3 %} {{ cache[3]['key'] }} {% endif %}</td>
				</tr>
				<tr class="table__valrow">
					<td class="table__cell">{% if cache %} {{ cache[0]['val'] }} {% endif %} </td>
					<td class="table__cell">{% if  cache|length > 1 %} {{ cache[1]['val'] }} {% endif %} </td>
					<td class="table__cell">{% if  cache|length > 2 %} {{ cache[2]['val'] }} {% endif %}</td>
					<td class="table__cell">{% if  cache|length > 3 %} {{ cache[3]['val'] }} {% endif %}</td>
				</tr>
			</table>
		</div>
		<div class="terminal__box">
			<img class="terminal__icon" src="/static/images/terminal_icon_r.svg" alt="user">
			<code class=terminal__line> Hello, please enter a number (1–35)</code>
			<br>
		</div>
		<div class="user__box">
			<img class="user__graphic" src="/static/images/user_icon.svg" alt="user">
			<textarea class="user__terminal"></textarea>
			<div class="user__btn">
				<button class="user__btntext">enter</button>
				<div class="user__cursor"></div>
			</div>
		</div>
		<p class="mt-1 color__mid-gray">Enter 'k' for terminal key</p>
	</main>

	<script type="text/javascript" src="{{ url_for('static', filename='terminal_script.js') }}"/></script>
	<script type="text/javascript" src="{{ url_for('static', filename='terminal_messages.js') }}"/></script>
	<script type="text/javascript" src="{{ url_for('static', filename='cache_script.js') }}"/></script>
</body>
</html>
