
body {
	box-sizing: border-box;
	font-family: sans-serif;
	position: relative;;
	font-size: 14px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dt, dd, ol, ul, li,
table, tr, th, td,
article, menu, nav, section, summary
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

p, th, td, tr, h4, section, div, textarea {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table  {
	border-collapse: collapse;
	border-spacing:0;
}

/*======= Modifiers =========*/

.color__red
{
	color: #ff0000;
}
.color__green
{
	color: #00ff00;
}
.color__black
{
	color: #444;
}

.color__mid-gray
{
	color: #888;
}
.mt-1 {
	margin-top: 1rem;
}
/*===========================*/

.body    {
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 1rem 0 0 0;
}
	.nav > .logo {
		margin: 1rem 0 0 2rem;
	}
	.nav > .info {
		height: 2.5rem;
		width: 2.5rem;
		border-radius: 50%;
		background-color: orange;
		margin: 1rem 1rem 0 0;r
	}
	

.nav__homelink--wrapper {
  display: block;
  text-decoration: none;  
}
  .nav__homelink--container {
    position: fixed;
    right: 0;
    top: 4rem;
    width: 7rem;
    height: 4rem;
    z-index: 1;
    background-color: white;
  
  }
  .nav__homelink--rule {
    margin-left: auto; 
    margin-right: 1rem;
    margin-top: .5rem;
    border-top: 6px solid #aaa;
    width: 3rem;
  }
  .nav__homelink--text {
    margin-top: .2rem;
    margin-left: auto; 
    margin-right: 1rem;
    padding: 0;
    color: #aaa;
    font-size: .9rem;
    text-decoration: none;
    text-align: right;
  }

.main {
	position: relative;
	margin-top:  1rem;
	display: grid;
	width: 100%;
	justify-items: center;
}

.table__wrapper {
	display: flex;
	width: max-content;
}
	
	.table__index {
		margin-left: -11rem;
		width: 11rem;
		height: 13.5rem;
		text-align: right;
	}	
		.index__container {
			width: 8rem;
			margin: 3rem 0 0 3rem;
		}
			.index__position {
				margin: 4rem 1rem 0 0 ;
			}

			.index__number {
				margin: 4rem 1rem 0 0;
			}

		@media screen and (max-width: 740px) {

			.index__container {
				width: 5rem;
				margin: 4.25rem 0 0 6.5rem;
			}
	
			.index__position , .index__number {
				font-size: .7rem;
			}
		}

		@media screen and (max-width: 528px) {

			.index__position , .index__number {
				display: none;
			}
		}


	.table1 {
		position: absolute;
		margin-top: .5rem;
	}
		.table__h-row {
			position: relative;
		}
			.table__h-cell {
				height: 1rem;
				width: 6rem;
				text-align: center;
				font-style: italic;
			}
		.table__row {
			position: relative;
			z-index: -50;
			height: 6rem;
		}
		.table__row td:nth-child(even) {
			background-color: #EEE;

		}	
			.table__cell1 {
				position: relative;
				width: 6rem;
				border: 1px solid #999;
				padding: .5rem;
			}
	.table {
		position: relative;
		margin-top: 3rem;
	}
		.table__valrow {
			position: relative;
			z-index: -10;
			height: 6rem;

		}
			.table__cell {
				position: relative;
				width: 6rem;
				border: 0px solid green;
				bottom: 1rem;
				text-align: center;
				vertical-align: middle;
				font: 3rem Arial, sans-serif;
				color: #777;
			}

.terminal__box {
	display: absolute;
	margin: 1rem 0 0 0;
	padding-top: .25rem;
	padding-left: .25rem;
	padding-right: .25rem;
	padding-bottom: 1rem;
	width: 24rem;
	height: 16rem;
	border-top: solid .5px #999;
	border-left: solid .5px #999;
	border-bottom: none;
	border-right: solid .5px #999;
	box-sizing: border-box;
	overflow-y: scroll;
}	
	.user__terminal {
		caret-color: transparent;
		border: solid .5px #999;
	}
		.user__terminal:focus {
			outline: none !important;
			border: solid 1px orange;
		}
	
	.terminal__line {
		font-size: 13px;
	}
	.terminal__userline{
		font-size: 16px;
		font-style: bold;
	}	
		.terminal__icon, .terminal__user {
			height: .75rem;
			font-size: 14px
		}
		.terminal__user {
			width: 1rem;
		}
@media screen and (max-width: 550px) {

	.terminal__box  {
		height: 6.5rem;
	}
}

.user__box {
	display: grid;
	grid-template-columns: 3rem 20rem 4rem;
	grid-template-rows: 3rem;
	justify-content: center;
	width: 26rem;
	margin-left: -3rem;

}
	.user__graphic {
		margin: .5rem 0 0 .5rem;
		height: 2rem;
		width: 2rem;
	}
	.user__terminal {
		font-size: 1rem;
		width: 20rem;
		height: 3rem;
		padding: 1rem 0 0 .75rem;
		resize: none;

	}
	.user__btn {
		position: relative;
		display: grid;
		width: 4rem;
	}
		.user__btntext {
			border: none;
			background-color: orange;
			width: 4rem;
		}
		
		.user__cursor {
			position: absolute;
			height: 1.5rem;
			width: 1.5rem;
			 background-color: rgba(150, 150, 150, 0.2);
			opacity: 0.5;
			margin-top: .8rem;
			margin-left: -19.5rem;
			z-index: 0;
		}

	@media screen and (max-width: 550px) {

		.user__graphic {
			margin: .75rem 0 0 1rem;
			height: 1.5rem;
		}
	}

.animate__entry {
	position: absolute;
	margin-top: 34.1rem;
	margin-left: -21.8rem;
}

.animate__fib {
	position: absolute;
	/*margin-top: 9.8rem;*/
	margin-left: -18rem;
	font: 3rem Arial, sans-serif;
	color:red;
}







